Repository wuespace/telestion, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fussel178, @pklaschka, @cb0s

TELESTION-473 Use `DATA_DIR` in logger sample
  backend-deno/samples/logger/mod.ts
  docs/docs/Backend Development/typescript/e2e-log-service.md
Owners: @pklaschka

TELESTION-460 Dashboard layout editor
  .github/workflows/frontend-react-ci.yml
  frontend-react/package.json
  frontend-react/pnpm-lock.yaml
  frontend-react/src/app/index.tsx
  frontend-react/src/lib/application/index.scss
  frontend-react/src/lib/application/routes/dashboard-editor/dashboard-editor.module.scss
  frontend-react/src/lib/application/routes/dashboard-editor/dashboard-editor.tsx
  frontend-react/src/lib/application/routes/dashboard-editor/layout-editor/README.md
  frontend-react/src/lib/application/routes/dashboard-editor/layout-editor/components/action-buttons.tsx
  frontend-react/src/lib/application/routes/dashboard-editor/layout-editor/components/cursor.svg
  frontend-react/src/lib/application/routes/dashboard-editor/layout-editor/components/empty-cell.tsx
  frontend-react/src/lib/application/routes/dashboard-editor/layout-editor/components/layout-editor-widget-instance.tsx
  frontend-react/src/lib/application/routes/dashboard-editor/layout-editor/components/layout-editor.module.css
  frontend-react/src/lib/application/routes/dashboard-editor/layout-editor/components/layout-editor.tsx
  frontend-react/src/lib/application/routes/dashboard-editor/layout-editor/components/resize-button.tsx
  frontend-react/src/lib/application/routes/dashboard-editor/layout-editor/components/resize-handle.tsx
  frontend-react/src/lib/application/routes/dashboard-editor/layout-editor/constants.tsx
  frontend-react/src/lib/application/routes/dashboard-editor/layout-editor/hooks/use-layout-editor-keyboard-shortcuts.tsx
  frontend-react/src/lib/application/routes/dashboard-editor/layout-editor/index.ts
  frontend-react/src/lib/application/routes/dashboard-editor/layout-editor/model/layout-editor-model.test.ts
  frontend-react/src/lib/application/routes/dashboard-editor/layout-editor/model/layout-editor-model.ts
  frontend-react/src/lib/application/routes/dashboard-editor/layout-editor/model/layout-editor-props.ts
  frontend-react/src/lib/application/routes/dashboard-editor/routing.ts
  frontend-react/src/lib/application/routes/page-wrapper/page-wrapper.module.css
  frontend-react/src/lib/application/routes/page-wrapper/page-wrapper.tsx
  frontend-react/src/lib/widget/component/widget-renderer.module.css
Owners: @fussel178, @pklaschka

deploy: 6a83e2f33787b1dde07daa5303de6e67537b661e
  sitemap.xml.gz
Owners: @fussel178

TELESTION-462 Make widgets configurable
  frontend-react/src/app/widgets/error-widget/index.tsx
  frontend-react/src/app/widgets/simple-widget/index.tsx
  frontend-react/src/lib/application/routes/dashboard-editor/dashboard-editor.tsx
  frontend-react/src/lib/application/routes/dashboard-editor/layout-editor/components/resize-button.tsx
  frontend-react/src/lib/application/routes/migration/routing.ts
  frontend-react/src/lib/user-data/index.ts
  frontend-react/src/lib/user-data/json-schema.ts
  frontend-react/src/lib/user-data/model.ts
  frontend-react/src/lib/widget/configuration/configuration-context.tsx
  frontend-react/src/lib/widget/configuration/hooks.tsx
  frontend-react/src/lib/widget/configuration/index.tsx
  frontend-react/src/lib/widget/configuration/model.tsx
  frontend-react/src/lib/widget/index.ts
  frontend-react/src/lib/widget/model.ts
Owners: @fussel178, @pklaschka

Deleting dashboards (TELESTION-458) and changing their names (TELESTION-459)
  frontend-react/src/lib/application/routes/dashboard-editor/dashboard-editor.tsx
  frontend-react/src/lib/application/routes/dashboard-editor/routing.ts
Owners: @fussel178, @pklaschka

Improve the name for new dashboards
  frontend-react/src/lib/user-data/model.ts
Owners: @fussel178, @pklaschka

deploy: 02caa049daf6228017848778a31f78a1555f3027
  assets/images/social/Frontend Development/api/application/index.png
  sitemap.xml.gz
Owners: @fussel178

deploy: 2e1c6042320937c9c292a0c5c2963dd80db4cc27
  assets/images/social/Frontend Development/api/application/index.png
  sitemap.xml.gz
Owners: @fussel178

Bump project to v1.0.0-alpha.4
  backend-deno/samples/Dockerfile
  docs/docs/Frontend Development/index.md
  frontend-react/package.json
Owners: @pklaschka, @fussel178

deploy: 145e0050ee0f1ea5c28c1497c6173561703b1c2e
  Frontend Development/index.html
  assets/images/social/Frontend Development/api/application/index.png
  search/search_index.json
  sitemap.xml.gz
Owners: @fussel178

Document the Go module release system (prefixed tags)
  backend-go/README.md
Owners: @pklaschka

feat(backend-python): add basic telestion library for python
  backend-python/.gitignore
  backend-python/LICENSE
  backend-python/README.md
  backend-python/cucumber/.gitkeep
  backend-python/requirements.txt
  backend-python/src/__init__.py
  backend-python/src/telestion/__init__.py
  backend-python/src/telestion/backend/__init__.py
  backend-python/src/telestion/backend/config.py
  backend-python/src/telestion/backend/lib.py
Owners: @cb0s, @pklaschka

feat(backend-python): add wrappers for nats client in lib.Service and fix various bugs, add test script for development (will be deleted before merge into main)
  backend-python/src/telestion/backend/config.py
  backend-python/src/telestion/backend/lib.py
  backend-python/src/telestion/backend/test.py
Owners: @cb0s

feat(backend-python): improve api of lib for custom NatsClients by setting up the health check in designated function
  backend-python/src/telestion/backend/lib.py
Owners: @cb0s

fix(backend-python): fix support for custom options during startup and add basic doc strings
  backend-python/src/telestion/backend/lib.py
  backend-python/src/telestion/backend/test.py
Owners: @cb0s

build(frontend-react): :arrow_up: Upgrade frontend dependencies
  frontend-react/package.json
  frontend-react/pnpm-lock.yaml
Owners: @fussel178, @pklaschka

chore(ci): :green_heart: Upgrade pnpm setup action
  .github/workflows/frontend-react-ci.yml
Owners: @fussel178

Update documentation configuration and dependencies
  docs/.gitignore
  docs/mkdocs.yml
  docs/requirements.txt
Owners: @pklaschka

Modernize Deno implementation and prepare for JSR
  backend-deno/README.md
  backend-deno/cucumber/deps.ts
  backend-deno/cucumber/step-registry.ts
  backend-deno/cucumber/steps/config.ts
  backend-deno/cucumber/steps/deps.ts
  backend-deno/cucumber/steps/nats.ts
  backend-deno/cucumber/steps/start.ts
  backend-deno/cucumber/test.ts
  backend-deno/deno.json
  backend-deno/deno.lock
  backend-deno/docker-compose.yml
  backend-deno/mod.ts
  backend-deno/samples/CONTRIBUTING.md
  backend-deno/samples/Dockerfile
  backend-deno/samples/config/mod.ts
  backend-deno/samples/deno.jsonc
  backend-deno/samples/latest-value-cache/mod.ts
  backend-deno/samples/logger/mod.ts
  backend-deno/samples/publisher/mod.ts
  backend-deno/samples/requester/mod.ts
Owners: @pklaschka

Update the documentation to reflect Deno / NATS upgrade
  docs/docs/Backend Development/typescript/configuration.md
  docs/docs/Backend Development/typescript/e2e-log-service.md
  docs/docs/Backend Development/typescript/index.md
  docs/docs/Backend Development/typescript/message-bus.md
Owners: @pklaschka

chore(frontend-react): Major version upgrades
  frontend-react/package.json
  frontend-react/pnpm-lock.yaml
Owners: @fussel178, @pklaschka

chore(frontend-react): Fix various warnings related to upgrading packages
  frontend-react/src/app/index.tsx
  frontend-react/src/lib/application/routes/dashboard-editor/dashboard-editor.tsx
  frontend-react/src/lib/application/routes/dashboard-editor/layout-editor/components/empty-cell.tsx
  frontend-react/src/lib/application/routes/dashboard-editor/layout-editor/components/layout-editor.tsx
  frontend-react/src/lib/application/routes/dashboard-editor/routing.ts
  frontend-react/src/lib/application/routes/dashboard-page/routing.ts
  frontend-react/src/lib/application/routes/migration/components/existing-user-prompt.tsx
  frontend-react/src/lib/application/routes/migration/components/new-user-prompt.tsx
  frontend-react/src/lib/application/routes/migration/migration-page.tsx
  frontend-react/src/lib/application/routes/migration/routing.ts
  frontend-react/src/lib/application/routes/page-wrapper/dashboard-dropdown.tsx
  frontend-react/src/lib/auth/controller.ts
  frontend-react/src/lib/user-data/state.ts
  frontend-react/src/lib/widget/configuration/configuration-context.tsx
Owners: @fussel178, @pklaschka

chore(frontend-react): Regenerate `pnpm-lock.yaml`
  frontend-react/pnpm-lock.yaml
Owners: @fussel178, @pklaschka

style(frontend-react): Reformat code
  frontend-react/src/lib/application/routes/dashboard-editor/layout-editor/model/layout-editor-model.ts
Owners: @fussel178, @pklaschka

chore(frontend-react): Upgrade to ESLint v9
  frontend-react/.eslintrc.cjs
  frontend-react/eslint.config.js
  frontend-react/package.json
  frontend-react/pnpm-lock.yaml
  frontend-react/src/lib/application/hooks/use-widget-config.ts
  frontend-react/src/lib/application/routes/dashboard-editor/layout-editor/model/layout-editor-model.ts
  frontend-react/src/lib/auth/controller.ts
  frontend-react/tsconfig.node.json
Owners: @fussel178, @pklaschka

chore(frontend-react): Regenerate `pnpm-lock.yaml`
  frontend-react/pnpm-lock.yaml
Owners: @fussel178, @pklaschka

chore(frontend-react): Fix vite warnings during builds
  frontend-react/package.json
  frontend-react/vite.config.ts
Owners: @fussel178, @pklaschka

chore(frontend-react): Modernize React code based on v19 improvements
  frontend-react/src/lib/application/hooks/use-widget-config.ts
  frontend-react/src/lib/widget/component/widget-renderer.tsx
  frontend-react/src/lib/widget/configuration/configuration-context.tsx
Owners: @fussel178, @pklaschka

feat(frontend-react): Improve UI design of page wrapper
  frontend-react/src/lib/application/routes/page-wrapper/page-wrapper.module.css
  frontend-react/src/lib/application/routes/page-wrapper/page-wrapper.tsx
Owners: @fussel178, @pklaschka

feat(frontend-react): Default Widget Padding
  frontend-react/src/lib/widget/component/error-fallback.module.css
  frontend-react/src/lib/widget/component/error-fallback.tsx
  frontend-react/src/lib/widget/component/widget-renderer.tsx
  frontend-react/src/lib/widget/model.ts
Owners: @fussel178, @pklaschka

chore(ci): Add Git Town Workflow for Stacked PRs
  .github/workflows/git-town.yml
Owners: @fussel178

Add configuration for automated GitHub Release Changelogs
  .github/release.yml
Owners: @fussel178

Fix styling in backend deno sample config
  backend-deno/samples/config/mod.ts
Owners: @pklaschka

Use `JSON.stringify` in backend deno sample publisher
  backend-deno/samples/publisher/mod.ts
Owners: @pklaschka

Update Deno link on index page
  docs/docs/index.md
Owners: @pklaschka

Fix missing export of `StartServiceConfig` in new structure
  backend-deno/mod.ts
Owners: @pklaschka

fix(frontend-react): Fix the export in the `package.json` after the Vite upgrade
  frontend-react/package.json
  frontend-react/pnpm-lock.yaml
Owners: @fussel178, @pklaschka

Regenerate `pnpm-lock.yaml`
  frontend-react/pnpm-lock.yaml
Owners: @fussel178, @pklaschka

Specify React 19 as peer dependency
  frontend-react/package.json
Owners: @fussel178, @pklaschka

Regenerate pnpm-lock.yaml
  frontend-react/pnpm-lock.yaml
Owners: @fussel178, @pklaschka

.github/CODEOWNERS:

# unless otherwise specified
* @fussel178

# specific implementations
/.github @fussel178
/backend-deno @pklaschka
/backend-features @pklaschka @fussel178
/backend-go @cb0s @fussel178
/backend-python @cb0s
/branding @pklaschka
/docs @pklaschka
/frontend-react @fussel178 @pklaschka

# Root files, citation providers, and docs
*.md @pklaschka
.zenodo.json @pklaschka
CITATION.cff @pklaschka
