Repository wuespace/telestion, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fussel178, @pklaschka, @cb0s

.github/CODEOWNERS:

# unless otherwise specified
* @fussel178

# specific implementations
/.github @fussel178
/backend-deno @pklaschka
/backend-features @pklaschka @fussel178
/backend-go @cb0s @fussel178
/backend-python @cb0s
/branding @pklaschka
/docs @pklaschka
/frontend-react @fussel178 @pklaschka

# Root files, citation providers, and docs
*.md @pklaschka
.zenodo.json @pklaschka
CITATION.cff @pklaschka

test(gherkin): add `assert_service_configured_with_alternative`
  backend-features/.gitignore
  backend-features/dev-mode.feature
  backend-features/steps/service.py
Owners: @pklaschka, @fussel178

fix(python): fix various bugs that were identified while implementing test behaviour
  backend-python/src/telestion/__init__.py
  backend-python/src/telestion/backend/__init__.py
  backend-python/src/telestion/backend/config.py
  backend-python/src/telestion/backend/lib.py
  backend-python/src/telestion/backend/test.py
  backend-python/testbed.py
Owners: @cb0s

Update backend-python/README.md
  backend-python/README.md
Owners: @pklaschka

fix(python): add support for '=' in additional args, add support for custom arguments in `build_config()` and fix tests
  backend-python/src/telestion/backend/config.py
  backend-python/src/telestion/backend/lib.py
  backend-python/testbed.py
Owners: @cb0s

Update API Reference link in documentation
  docs/docs/Backend Development/typescript/.pages
Owners: @pklaschka

Update Vite and React plugin versions in docs
  docs/docs/Frontend Development/index.md
Owners: @pklaschka

deploy: faa2443d43e007d6fabab2749ccceedb22e0b83c
  Backend Development/service-behavior/auth/index.html
  Backend Development/service-behavior/config/index.html
  Backend Development/service-behavior/dev-mode/index.html
  Backend Development/service-behavior/index.html
  Backend Development/service-behavior/nats/index.html
  Backend Development/service-behavior/service/index.html
  Frontend Development/api/application/index.html
  Frontend Development/api/auth/index.html
  Frontend Development/api/index.html
  Frontend Development/api/nats/index.html
  Frontend Development/api/user-data/index.html
  Frontend Development/api/utils/index.html
  Frontend Development/api/widget/index.html
  Frontend Development/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Owners: @fussel178

Temporary docs around writing widgets
  docs/docs/Frontend Development/.pages
  docs/docs/Frontend Development/developing-widgets.md
Owners: @pklaschka

chore(frontend-react): :arrow_up: Upgrade frontend dependencies
  frontend-react/package.json
  frontend-react/pnpm-lock.yaml
  frontend-react/src/app/widgets/simple-widget/index.tsx
  frontend-react/src/lib/application/routes/dashboard-editor/layout-editor/components/empty-cell.tsx
  frontend-react/src/lib/application/routes/login/login-page.tsx
  frontend-react/src/lib/auth/index.ts
  frontend-react/src/lib/user-data/json-schema.ts
  frontend-react/src/lib/utils/file-utils.ts
  frontend-react/vite.config.ts
Owners: @fussel178, @pklaschka

fix(frontend-react): TELESTION-479 Everything breaks if no widgets are registered
  frontend-react/src/lib/application/routes/dashboard-editor/dashboard-editor.tsx
  frontend-react/src/lib/application/routes/dashboard-editor/layout-editor/components/layout-editor.tsx
Owners: @fussel178, @pklaschka

Update actions/upload-artifact to v4
  .github/workflows/frontend-react-ci.yml
Owners: @fussel178

Update actions/upload-artifact to v5
  .github/workflows/frontend-react-ci.yml
Owners: @fussel178

deploy: 693de45e694430f377345d6cb9356385877d1b4c
  Backend Development/service-behavior/auth/index.html
  Backend Development/service-behavior/config/index.html
  Backend Development/service-behavior/dev-mode/index.html
  Backend Development/service-behavior/index.html
  Backend Development/service-behavior/nats/index.html
  Backend Development/service-behavior/service/index.html
  Frontend Development/api/application/index.html
  Frontend Development/api/auth/index.html
  Frontend Development/api/index.html
  Frontend Development/api/nats/index.html
  Frontend Development/api/user-data/index.html
  Frontend Development/api/utils/index.html
  Frontend Development/api/widget/index.html
  sitemap.xml
  sitemap.xml.gz
Owners: @fussel178

Activate footnotes on the documentation site
  docs/mkdocs.yml
Owners: @pklaschka

Migrate ADRs to main repository
  docs/docs/.pages
  docs/docs/adrs/0001-record-architecture-decisions.md
  docs/docs/adrs/0002-use-custom-adr-management-tooling.md
  docs/docs/adrs/0003-use-nats-as-distributed-message-bus.md
  docs/docs/adrs/0004-revised-vert-x-independent-terminology.md
  docs/docs/adrs/0005-use-standard-nats-clients-if-available.md
  docs/docs/adrs/0006-nats-message-format.md
  docs/docs/adrs/0007-use-deno-with-typescript-for-backend-services.md
  docs/docs/adrs/0008-react-frontend-framework-architecture.md
  docs/docs/adrs/0009-bootstrap-for-react-frontend.md
  docs/docs/adrs/0010-move-adrs-to-the-main-repository-and-documentation-site.md
  docs/docs/adrs/__template__.md
  docs/docs/adrs/index.md
Owners: @pklaschka

deploy: cfee9d567685ff680f3928dc119f93128a14e2eb
  Backend Development/service-behavior/auth/index.html
  Backend Development/service-behavior/config/index.html
  Backend Development/service-behavior/dev-mode/index.html
  Backend Development/service-behavior/index.html
  Backend Development/service-behavior/nats/index.html
  Backend Development/service-behavior/service/index.html
  Frontend Development/api/application/index.html
  Frontend Development/api/auth/index.html
  Frontend Development/api/index.html
  Frontend Development/api/nats/index.html
  Frontend Development/api/user-data/index.html
  Frontend Development/api/utils/index.html
  Frontend Development/api/widget/index.html
  sitemap.xml
  sitemap.xml.gz
Owners: @fussel178

Apply suggestions from code review
  docs/docs/adrs/0005-use-standard-nats-clients-if-available.md
  docs/docs/adrs/0009-bootstrap-for-react-frontend.md
  docs/docs/adrs/0010-move-adrs-to-the-main-repository-and-documentation-site.md
Owners: @pklaschka

Apply suggestions from code review
  docs/docs/adrs/0004-revised-vert-x-independent-terminology.md
  docs/docs/adrs/0006-nats-message-format.md
  docs/docs/adrs/0008-react-frontend-framework-architecture.md
Owners: @pklaschka

Update dependencies and runtime for `backend-deno`
  backend-deno/Dockerfile
  backend-deno/deno.json
  backend-deno/deno.lock
  backend-deno/mod.ts
  backend-deno/samples/Dockerfile
  backend-deno/samples/config/mod.ts
  backend-deno/samples/docker-compose.yml
  backend-deno/samples/latest-value-cache/mod.ts
  backend-deno/samples/publisher/mod.ts
  backend-deno/samples/requester/mod.ts
Owners: @pklaschka

Update zod imports in the `backend-deno` docs
  docs/docs/Backend Development/typescript/configuration.md
  docs/docs/Backend Development/typescript/message-bus.md
Owners: @pklaschka

Improve zod types
  backend-deno/mod.ts
Owners: @pklaschka

Update frontend-react/package.json
  frontend-react/package.json
Owners: @fussel178, @pklaschka

Experiments with a Deno-based fully fledged framework for services
  backend-deno/deno.json
  backend-deno/telestionx/mod.ts
Owners: @pklaschka

Regenerate `pnpm-lock.yaml`
  frontend-react/pnpm-lock.yaml
Owners: @fussel178, @pklaschka

Revert JSON import in `vite.config.ts`
  frontend-react/vite.config.ts
Owners: @fussel178, @pklaschka
