Repository wuespace/telestion, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fussel178, @pklaschka, @cb0s

Setup python cucumber runner
  backend-features/.gitignore
  backend-features/README.md
  backend-features/requirements.txt
  backend-features/steps/steps.py
  backend-features/tools/setup-venv.sh
Owners: @pklaschka, @fussel178

Some first steps with the Python Docker API
  backend-features/environment.py
  backend-features/steps/steps.py
Owners: @pklaschka, @fussel178

Further implementations / tests
  backend-features/docker_lib.py
  backend-features/environment.py
  backend-features/steps/steps.py
Owners: @pklaschka, @fussel178

Removing unnecessary imports
  backend-features/docker_lib.py
  backend-features/steps/steps.py
Owners: @pklaschka, @fussel178

More and better implementations
  backend-features/docker_lib.py
  backend-features/environment.py
  backend-features/nats_config.py
  backend-features/steps/steps.py
Owners: @pklaschka, @fussel178

Basic test service execution
  backend-features/Dockerfile
  backend-features/steps/steps.py
Owners: @pklaschka, @fussel178

Fully implement all steps logic
  backend-features/auth.feature
  backend-features/config.feature
  backend-features/dev-mode.feature
  backend-features/docker_lib.py
  backend-features/environment.py
  backend-features/nats.feature
  backend-features/nats_config.py
  backend-features/sample-service/Dockerfile
  backend-features/sample-service/deno-testbed.ts
  backend-features/sample-service/deno.json
  backend-features/sample-service/mod.ts
  backend-features/service.feature
  backend-features/steps/config.py
  backend-features/steps/nats.py
  backend-features/steps/service.py
  backend-features/steps/steps.py
Owners: @pklaschka, @fussel178

Use `Background:` in features for better structuring
  backend-features/auth.feature
  backend-features/nats.feature
Owners: @pklaschka, @fussel178

Remove Gherkin Linter
  backend-features/.gherkin-lintrc
  backend-features/Dockerfile
  backend-features/docker-compose.yml
Owners: @pklaschka, @fussel178

Implement "Then the service should not connect to NATS" step
  backend-features/steps/service.py
Owners: @pklaschka, @fussel178

Many more improvements
  backend-features/README.md
  backend-features/environment.py
  backend-features/lib/__init__.py
  backend-features/lib/nats_config.py
  backend-features/lib/nats_container.py
  backend-features/lib/test-result.schema.json
  backend-features/lib/testbed.py
  backend-features/requirements.txt
  backend-features/run-tests.py
  backend-features/sample-service/deno-testbed.ts
  backend-features/steps/nats.py
  backend-features/steps/service.py
Owners: @pklaschka, @fussel178

Fix typos
  backend-features/steps/service.py
Owners: @pklaschka, @fussel178

Add testbed container / image specification
  backend-features/TESTBED.spec.md
Owners: @pklaschka

Migrate backend-deno to new E2E testing setup
  backend-deno/Dockerfile
  backend-deno/cucumber/README.md
  backend-deno/cucumber/step-registry.ts
  backend-deno/cucumber/steps/config.ts
  backend-deno/cucumber/steps/nats.ts
  backend-deno/cucumber/steps/start.ts
  backend-deno/cucumber/test.ts
  backend-deno/docker-compose.yml
  backend-deno/testbed.e2e.ts
Owners: @pklaschka

Update Deno CI
  .github/workflows/backend-deno-ci.yml
Owners: @fussel178

Try to fix Deno CI
  .github/workflows/backend-deno-ci.yml
Owners: @fussel178

Fix paths in backend-deno CI workflow
  .github/workflows/backend-deno-ci.yml
Owners: @fussel178

Update CI workflow to use setup-venv.sh for virtual environment setup
  .github/workflows/backend-deno-ci.yml
Owners: @fussel178

Activate virtual environment before running tests in backend-deno CI workflow
  .github/workflows/backend-deno-ci.yml
Owners: @fussel178

Add verbose flag to run-tests.py in backend-deno CI workflow
  .github/workflows/backend-deno-ci.yml
Owners: @fussel178

Remove obsolete Gherkin Linter
  .github/workflows/backend-features-lint.yml
Owners: @fussel178

Full rewrite of `backend-go`
  backend-go/.nats.conf
  backend-go/Dockerfile
  backend-go/README.md
  backend-go/config.go
  backend-go/config_test.go
  backend-go/docker-compose.ci.yml
  backend-go/docker-compose.yml
  backend-go/example_util_test.go
  backend-go/go.mod
  backend-go/go.sum
  backend-go/lib.go
  backend-go/lib_test.go
  backend-go/model.go
  backend-go/nats.go
  backend-go/samples/config/main.go
  backend-go/samples/pub/file.go
  backend-go/samples/pub/main.go
  backend-go/samples/pub/run_multiple_instances.sh
  backend-go/samples/sub/main.go
  backend-go/samples/subscribe/main.go
  backend-go/samples/without-nats/main.go
  backend-go/samples/without_nats/main.go
  backend-go/test.sh
  backend-go/testbed/testbed.go
  backend-go/util.go
  backend-go/util_test.go
Owners: @cb0s, @fussel178, @pklaschka

Adjust CI workflow
  .github/workflows/backend-go-ci.yml
Owners: @fussel178

Fix broken Docs build through updating Frontend API Reference Pipeline
  docs/docker-compose.yml
  docs/docs/_css/custom.css
  frontend-react/.gitignore
  frontend-react/typedoc.json
Owners: @pklaschka, @fussel178

Remove hard-coded version numbers from files
  backend-deno/deno.json
  backend-deno/samples/Dockerfile
  frontend-react/package.json
Owners: @pklaschka, @fussel178

Add Release workflow
  .github/workflows/release.yml
Owners: @fussel178

Avoid git checks in release workflow of the `@wuespace/telestion` npm package
  .github/workflows/release.yml
Owners: @fussel178

Add prerelease workflow
  .github/workflows/prerelease.yml
Owners: @fussel178

Add the necessary permissions to the release workflows
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Owners: @fussel178

Add function names to doc comments to make go lint happy
  backend-go/config.go
  backend-go/go.sum
  backend-go/lib.go
  backend-go/util.go
Owners: @cb0s, @fussel178

Make test script POSIX compatible
  backend-go/test.sh
Owners: @cb0s, @fussel178

Add trailing newline to make Github happy :)
  backend-go/Dockerfile
Owners: @cb0s, @fussel178

source does not exist in posix :see_no_evil:
  backend-go/test.sh
Owners: @cb0s, @fussel178

Update Go dependencies
  backend-go/go.mod
  backend-go/go.sum
Owners: @cb0s, @fussel178

Add log for ignoring unsupported positional CLI arguments
  backend-go/config.go
Owners: @cb0s, @fussel178

Use std lib function for printing warning to stderr
  backend-go/config.go
Owners: @cb0s, @fussel178

fix(github/release-pipelines): Set git user to allow git tags in publish go job
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Owners: @fussel178

fix(github/release-pipeline): Set npm registry explicitly
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Owners: @fussel178

feat: update implementation steps for e2e test
  backend-python/.gitignore
  backend-python/Dockerfile
  backend-python/LICENSE
  backend-python/README.md
  backend-python/requirements.txt
  backend-python/src/telestion/__init__.py
  backend-python/src/telestion/backend/__init__.py
  backend-python/src/telestion/backend/config.py
  backend-python/src/telestion/backend/lib.py
  backend-python/src/telestion/backend/test.py
  backend-python/test.sh
  backend-python/testbed.py
Owners: @cb0s, @pklaschka

Convert CRLF to LF line endings
  backend-python/.gitignore
  backend-python/LICENSE
  backend-python/README.md
  backend-python/requirements.txt
  backend-python/src/telestion/backend/__init__.py
  backend-python/src/telestion/backend/config.py
  backend-python/src/telestion/backend/lib.py
  backend-python/src/telestion/backend/test.py
Owners: @cb0s, @pklaschka

.github/CODEOWNERS:

# unless otherwise specified
* @fussel178

# specific implementations
/.github @fussel178
/backend-deno @pklaschka
/backend-features @pklaschka @fussel178
/backend-go @cb0s @fussel178
/backend-python @cb0s
/branding @pklaschka
/docs @pklaschka
/frontend-react @fussel178 @pklaschka

# Root files, citation providers, and docs
*.md @pklaschka
.zenodo.json @pklaschka
CITATION.cff @pklaschka
