Repository wuespace/telestion, pull requests merged in 2024-12, with the labels that each got.

#425 Modernize Deno implementation and prepare for JSR
  backend-deno/README.md
  backend-deno/cucumber/deps.ts
  backend-deno/cucumber/step-registry.ts
  backend-deno/cucumber/steps/config.ts
  backend-deno/cucumber/steps/deps.ts
  backend-deno/cucumber/steps/nats.ts
  backend-deno/cucumber/steps/start.ts
  backend-deno/cucumber/test.ts
  backend-deno/deno.json
  backend-deno/deno.lock
  backend-deno/docker-compose.yml
  backend-deno/mod.ts
  backend-deno/samples/CONTRIBUTING.md
  backend-deno/samples/Dockerfile
  backend-deno/samples/config/mod.ts
  backend-deno/samples/deno.jsonc
  backend-deno/samples/latest-value-cache/mod.ts
  backend-deno/samples/logger/mod.ts
  backend-deno/samples/publisher/mod.ts
  backend-deno/samples/requester/mod.ts
  docs/docs/Backend Development/typescript/configuration.md
  docs/docs/Backend Development/typescript/e2e-log-service.md
  docs/docs/Backend Development/typescript/index.md
  docs/docs/Backend Development/typescript/message-bus.md
  docs/docs/index.md
Labels: :tulip: enhancement, :boom: breaking

#424 build(frontend-react): :arrow_up: Upgrade frontend dependencies
  .github/workflows/frontend-react-ci.yml
  frontend-react/.eslintrc.cjs
  frontend-react/eslint.config.js
  frontend-react/package.json
  frontend-react/pnpm-lock.yaml
  frontend-react/src/app/index.tsx
  frontend-react/src/lib/application/hooks/use-widget-config.ts
  frontend-react/src/lib/application/routes/dashboard-editor/dashboard-editor.tsx
  frontend-react/src/lib/application/routes/dashboard-editor/layout-editor/components/empty-cell.tsx
  frontend-react/src/lib/application/routes/dashboard-editor/layout-editor/components/layout-editor.tsx
  frontend-react/src/lib/application/routes/dashboard-editor/layout-editor/model/layout-editor-model.ts
  frontend-react/src/lib/application/routes/dashboard-editor/routing.ts
  frontend-react/src/lib/application/routes/dashboard-page/routing.ts
  frontend-react/src/lib/application/routes/migration/components/existing-user-prompt.tsx
  frontend-react/src/lib/application/routes/migration/components/new-user-prompt.tsx
  frontend-react/src/lib/application/routes/migration/migration-page.tsx
  frontend-react/src/lib/application/routes/migration/routing.ts
  frontend-react/src/lib/application/routes/page-wrapper/dashboard-dropdown.tsx
  frontend-react/src/lib/auth/controller.ts
  frontend-react/src/lib/user-data/state.ts
  frontend-react/src/lib/widget/component/widget-renderer.tsx
  frontend-react/src/lib/widget/configuration/configuration-context.tsx
  frontend-react/tsconfig.node.json
  frontend-react/vite.config.ts
Labels: dependencies, :boom: breaking

#426 feat(frontend-react): Improve UI design of page wrapper
  frontend-react/src/lib/application/routes/page-wrapper/page-wrapper.module.css
  frontend-react/src/lib/application/routes/page-wrapper/page-wrapper.tsx
Labels: :tulip: enhancement

#429 Centralized test runner for `backend-features` specifications
  .github/workflows/backend-deno-ci.yml
  .github/workflows/backend-features-lint.yml
  backend-deno/Dockerfile
  backend-deno/cucumber/README.md
  backend-deno/cucumber/step-registry.ts
  backend-deno/cucumber/steps/config.ts
  backend-deno/cucumber/steps/nats.ts
  backend-deno/cucumber/steps/start.ts
  backend-deno/cucumber/test.ts
  backend-deno/docker-compose.yml
  backend-deno/testbed.e2e.ts
  backend-features/.gherkin-lintrc
  backend-features/.gitignore
  backend-features/Dockerfile
  backend-features/README.md
  backend-features/TESTBED.spec.md
  backend-features/auth.feature
  backend-features/config.feature
  backend-features/dev-mode.feature
  backend-features/docker-compose.yml
  backend-features/environment.py
  backend-features/lib/__init__.py
  backend-features/lib/nats_config.py
  backend-features/lib/nats_container.py
  backend-features/lib/test-result.schema.json
  backend-features/lib/testbed.py
  backend-features/nats.feature
  backend-features/requirements.txt
  backend-features/run-tests.py
  backend-features/sample-service/Dockerfile
  backend-features/sample-service/deno-testbed.ts
  backend-features/sample-service/deno.json
  backend-features/sample-service/mod.ts
  backend-features/service.feature
  backend-features/steps/config.py
  backend-features/steps/nats.py
  backend-features/steps/service.py
  backend-features/tools/setup-venv.sh
Labels: :closed_book: documentation, :tulip: enhancement, dependencies, :runner: github_actions

#432 Release Automation
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  backend-deno/deno.json
  backend-deno/samples/Dockerfile
  frontend-react/package.json
Labels: :runner: github_actions

#430 Full rewrite of `backend-go`
  .github/workflows/backend-go-ci.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  backend-deno/deno.json
  backend-deno/samples/Dockerfile
  backend-go/.nats.conf
  backend-go/Dockerfile
  backend-go/README.md
  backend-go/config.go
  backend-go/config_test.go
  backend-go/docker-compose.ci.yml
  backend-go/docker-compose.yml
  backend-go/example_util_test.go
  backend-go/go.mod
  backend-go/go.sum
  backend-go/lib.go
  backend-go/lib_test.go
  backend-go/model.go
  backend-go/nats.go
  backend-go/samples/config/main.go
  backend-go/samples/pub/file.go
  backend-go/samples/pub/main.go
  backend-go/samples/pub/run_multiple_instances.sh
  backend-go/samples/sub/main.go
  backend-go/samples/subscribe/main.go
  backend-go/samples/without-nats/main.go
  backend-go/samples/without_nats/main.go
  backend-go/test.sh
  backend-go/testbed/testbed.go
  backend-go/util.go
  backend-go/util_test.go
  frontend-react/package.json
Labels: :tulip: enhancement, dependencies, :runner: github_actions, :boom: breaking

#431 Fix broken Docs build through updating Frontend API Reference Pipeline
  docs/docker-compose.yml
  docs/docs/_css/custom.css
  frontend-react/.gitignore
  frontend-react/typedoc.json
Labels: :bug: bug, :closed_book: documentation

#433 Fix release pipeline
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Labels: :bug: bug, :runner: github_actions
